@model LavornCom.Models.Urunler
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderAction("Kategoriler", "Home");}

@*@{Html.RenderAction("yeni","Urunler")}*@






<div class="product-details">
    <!--product-details-->
    <div class="col-sm-5">
        <div class="view-product">
            @*@{  LavornCom.Models.lavornDbEntities db = new LavornCom.Models.lavornDbEntities();
                       var resimler = db.Resimler.Where(x => x.UrunId == Model.ResimId);
                   }
                @foreach (var item in resimler)
                {*@
            <img src="/Content/images/home/@Model.ResimUrl" alt="" style="width:auto;height:auto;">
            @*}*@


            <h3>Yakınlaştır</h3>
        </div>
        <div id="similar-product" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item">
                    <a href=""><img src="/Content/images/product-details/similar1.jpg" alt=""></a>
                    <a href=""><img src="/Content/images/product-details/similar2.jpg" alt=""></a>
                    <a href=""><img src="/Content/images/product-details/similar3.jpg" alt=""></a>
                </div>
                <div class="item">
                    <a href=""><img src="/Content/images/product-details/similar1.jpg" alt=""></a>
                    <a href=""><img src="/Content/images/product-details/similar2.jpg" alt=""></a>
                    <a href=""><img src="/Content/images/product-details/similar3.jpg" alt=""></a>
                </div>
                <div class="item active">
                    <a href=""><img src="/Content/images/product-details/similar1.jpg" alt=""></a>
                    <a href=""><img src="/Content/images/product-details/similar2.jpg" alt=""></a>
                    <a href=""><img src="/Content/images/product-details/similar3.jpg" alt=""></a>
                </div>

            </div>

            <!-- Controls -->
            <a class="left item-control" href="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right item-control" href="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>

    </div>
    <div class="col-sm-7">
        <div class="product-information">
            <!--/product-information-->
            @*<img src="/Content/images/product-details@item.ResimUrl" class="newarrival" alt="">*@

            <h5>Ürün Kodu : @Model.Id</h5>
            <h1>@Model.UrunAd</h1>

            <p>Açıklama : @Model.Aciklama </p>
            <p>Kategori : @Model.Kategoriler.KategoriAd</p>

            <p><b>Stok :</b> @Model.Stok</p>
            <p><b>Durum :</b>  Sıfır</p>
            @*<p><b>Size</b> : @Model.Size </p>*@




            <span>
                <span style="color:orange;">Ürün Fiyatı : @Model.UrunFiyat.ToString("#,##0.00") ₺ (KDV Dahil)@*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                &nbsp;
                &nbsp;*@
              </span>

                @*<input type="text" value="1" style="width:auto;">*@
                @*<input class="wow fadeIndown animated" data-wow-delay=".6s" type="text" Name="Urun" placeholder="@Model.UrunAd " required="">*@

                <form action="/Sepet/SepeteEkle" method="post">

                  
                     <span>

                       
                       
                        <h2 style="color:orange;">Adet : </h2>
                        <select @*style="width:55px;height:55px;"*@ name="adet"class ="btn btn-default dropdown-toggle usa">
                            <option style="width:45px;height:25px;">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                       </span>
                        @*<input type="text" placeholder="1" name="adet" class="form-control">*@
                      <span>
                            <h2 style="color:orange;">Renk : </h2>  
                            @*<input type="text" placeholder="1" name="renk" class="form-control">*@
                        <select  name="renk"class ="btn btn-default dropdown-toggle usa">
                            <option>Mavi</option>
                            <option>Sarı</option>
                            <option>Siyah</option>
                            </select>
                          </span>
                    <span>
                        <h2 style="color:orange;">Size : </h2>
                        <select name="size"class ="btn btn-default dropdown-toggle usa">
                            <option>X</option>
                            <option>S</option>
                            <option>M</option>
                        </select>
                        @*<input type="text" placeholder="1" name="size" class="form-control">*@
                    </span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>
                        <button type="submit" class="btn btn-fefault cart" style="background-color:orange;color:white;">
                            Sepete Ekle
                        </button>

                    </span>


                            <input type="hidden" name="id" value="@Model.Id" />



                  
            </form>
        </div><!--/product-information-->
    </div>
</div>
               


@*<button type="button" class="btn btn-fefault cart">
        <i class="fa fa-shopping-cart"></i>
        @Html.ActionLink("Sepete At", "SepeteEkle", "Sepet", new { id = Model.UrunId },null)
    </button>*@

@*@{Html.RenderAction("", " ")};*@

<div class="category-tab shop-details-tab">
    <div class="tab-pane fade active in" id="reviews">

        <div class="tab-content">
            <div class="col-sm-12">


                @*@{ Html.RenderAction("YorumlarListe", "Urunler");}*@

                <form action="/Urunler/Yorumlar" method="post">
                    <span>
                        <input type="text" placeholder="İsminiz" name="yorumcuad" class="form-control">
                        <input type="email" placeholder="Mail Adresiniz" name="mailadres" class="form-control">
                        <input type="hidden" placeholder="" name="urunıd" value="@Model.Id" readonly class="form-control">
                    </span>
                    <textarea name="yorum" class="form-control"></textarea>
                    <b>Rating: </b> <img src="/Content/images/product-details/rating.png" alt="">
                    <button type="submit" class="login-form">
                        Gönder
                    </button>

                </form>


            </div>
        </div>
    </div>
</div>
@*@{ Html.RenderAction("Yorumlar", "Urunler");}*@





