<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/js")
    @Styles.Render("~/Content/css/animate.css")
    @Styles.Render("~/Content/css/animate.css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/main.css")
    @Styles.Render("~/Content/css/prettyPhoto.css")
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Anasayfa/Nerva</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <link href="/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="/Content/css/price-range.css" rel="stylesheet">
    <link href="/Content/css/animate.css" rel="stylesheet">
	<link href="/Content/css/main.css" rel="stylesheet">
	<link href="/Content/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/Content/imagesico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
  
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="/Content/images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    Türkiye
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Türkçe</a></li>

                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    Lira
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Türk Lirası</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-user"></i> Üyelik</a></li>
                                <li><a href="#"><i class="fa fa-star"></i> İstek Listesi</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Çıkış Yap</a></li>
                                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="login.html"><i class="fa fa-lock"></i> Giriş Yap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="~/Home/Index" class="active">Anasayfa</a></li>
                                <li class="dropdown">
                                    <a href="#">Alışveriş<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="~/Urunler/Index">Ürünler</a></li>
                                        <li><a href="product-details.html">Ürün Detayları</a></li>
                                        <li><a href="checkout.html">Çıkış</a></li>
                                        <li><a href="cart.html">Sepet</a></li>
                                        <li><a href="login.html">Giriş Yap</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Blog Liste</a></li>
                                        <li><a href="blog-single.html">Blog Sayfa</a></li>
                                    </ul>
                                </li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="/Contact/Index">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Arama" />
                        </div>
                   
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->
    @RenderBody()


    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>NERVA</span>-GIYIM</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                        </div>
                    </div>


                    <div class="footer-widget">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="single-widget">
                                        <h2>Servis</h2>
                                        <ul class="nav nav-pills nav-stacked">
                                            <li><a href="#">Online Yardım</a></li>
                                            <li><a href="#">Bize Ulaşın</a></li>
                                            <li><a href="#">Sipariş Durumu</a></li>
                                            <li><a href="#">Lokasyon Değiştir</a></li>
                                            <li><a href="#">Hakkımızda</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="single-widget">
                                        <h2>Dükkan</h2>
                                        <ul class="nav nav-pills nav-stacked">
                                            <li><a href="#">T-Shirt</a></li>
                                            <li><a href="#">Mens</a></li>
                                            <li><a href="#">Womens</a></li>
                                            <li><a href="#">Gift Cards</a></li>
                                            <li><a href="#">Shoes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="single-widget">
                                        <h2>Politikalar</h2>
                                        <ul class="nav nav-pills nav-stacked">
                                            <li><a href="#">Kullanılmış Ürün</a></li>
                                            <li><a href="#">Destek Politikası</a></li>
                                            <li><a href="#">İade Politikası</a></li>
                                            <li><a href="#">Fatura Servisi</a></li>
                                            <li><a href="#">Ticket Sistemi</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="single-widget">
                                        <h2>Şirket Hakkında</h2>
                                        <ul class="nav nav-pills nav-stacked">
                                            <li><a href="#">Şirket Bilgileri</a></li>
                                            <li><a href="#">Kariyer</a></li>
                                            <li><a href="#">Mağaza Adresi</a></li>
                                            <li><a href="#">Ortaklık Programı</a></li>
                                            <li><a href="#">Lisans</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-sm-offset-1">
                                    <div class="single-widget">
                                        <h2>Mağaza Hakkında</h2>
                                        <form action="#" class="searchform">
                                            <input type="text" placeholder="Your email address" />
                                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                            <p>Kayıt Olun İndirimleri Kaçırmayın !</p>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <p class="pull-left">Copyright © 2016 Nerva Giyim. Tüm Hakları Saklıdır.</p>
                                <p class="pull-right">Designed by <span><a target="_blank" href="#">#</a></span></p>
                            </div>
                        </div>
                    </div>

    </footer><!--/Footer-->


    <script src="/Content/js/jquery.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/jquery.scrollUp.min.js"></script>
    <script src="/Content/js/price-range.js"></script>
    <script src="/Content/js/jquery.prettyPhoto.js"></script>
    <script src="/Content/js/main.js"></script>
</body>
</html>